# =========================
# 编译生成文件（必须忽略）
# =========================
*.exe
*.out
*.o

# =========================
# 临时文件
# =========================
*.log
*.tmp

# =========================
# VS Code 配置（个人环境）
# =========================
.vscode/

# =========================
# 构建目录
# =========================
build/